.header .container{
    display: flex;
    align-items: center;
}

.header__logo{
    @extend %logo;
    @media screen and (max-width:1250px) {
        margin-left: auto;
        margin-right: auto;
    }
}

.header__list{
    display: flex;
    margin-left: auto;
    gap: 55px;
    @media screen and (max-width:1250px) {
        display: none;
    }
}

.header__list__item{
    height: 30px;
}

.header__list__link{
    color: #95E1D3;
}

.header__list__item:hover{
    border-bottom: 3px solid #F38181;
}

.header__list__item:hover .header__list__link{
    color:  #F38181;
}