body{
    background-color: #FFFFFF;
    font-family: 'Montserrat';
}

.container {
    // outline: 2px solid red;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 320px) {
        width: 320px;
        padding-right: 20px;
        padding-left: 20px;
      }
      @media screen and (min-width: 768px) {
        width: 768px;
        padding-right: 34px;
        padding-left: 34px;
      }
      @media screen and (min-width: 1250px) {
        width: 1080px;
        padding-right: 15px;
        padding-left: 15px;
      }
    }


section{
    margin-top: 68px;
    @media screen and (max-width:1250px) {
       margin-top: 10px;
    }
}
