%logo {
  font-weight: 700;
  font-size: 30px;
  color: #95e1d3;
}

%mini-title {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-size: 24px;
}

%title {
    font-weight: 700;
    font-size: 30px;
}

%list-text {
    font-weight: 400;
font-size: 14px;
}

%description {
    font-family: 'Roboto';
font-weight: 400;
font-size: 15px;
color: #B6B6B6;
}